.core-product {
  background-image: url("../../public/dropper-landscape.jpg");
  height: 95vh;
  background-size: cover;
}

.carousel-items {
  max-height: 80vh;
}



.column-image {
  display: none;
}

.large-text {
  display: none;
}

@media (min-width: 576px) {
  .column-image {
    display: block;
  }

  .small-text {
    display: none;
  }

  .large-text {
    display: block;
  }
}
