.core-product {
  background-image: url("../../public/dropper-landscape.jpg");
  height: 95vh;
  background-size: cover;
}

.body {
  background-color: #faf1f0 !important;
}

/* primary pick hex color: #faf1f0 */
/* Try this one too f2e3ea */
