.core-product {
  background-image: url("../../public/dropper-landscape.jpg");
  height: 95vh;
  background-size: cover;
}

/* .body-text {
  background-color: #faf1f0 !important;
} */

.carousel-items {
  height: 80vh;
}

/* primary pick hex color: #faf1f0 */
/* Try this one too f2e3ea */
